*{
      padding: 0;
      margin: 0;
}

body{
      margin-top: 0;
      margin-left: 380px;
      margin-right: 380px;
      border-style: solid;
}

main {
      display: block;
      overflow: auto;
}

header{
      font-family: Georgia;
      color: blue;
      background-color: lightgray;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.7em;
      word-spacing: 2em;
      text-align: center;
      margin-left: 15px;
      margin-right: 15px;
}

main section:nth-child(1){
      position: relative;
      top: 15%;
      left: 0;
      margin: 0;
      padding-top: 50px;
      padding-left: 15px;
}

main section .art0{
      padding-top: 15px;
}

main section:nth-child(2){
      position: relative;
      margin: 0;
      padding-top: 15px;
      padding-left: 15px;
}

main section .art1{
      float: left;
      padding-top: 15px;
      margin-right: 14%;
      margin-bottom: 5%;
      padding-left: 8px;
}

main section .art2{
      padding-top: 15px;
      margin-bottom: 5%;
      padding-right: 5px;
}

main section .art3{
      float: left;
      margin-right: 14%;
      margin-bottom: 5%;
      padding-left: 8px;
}

main section .art4{
      margin-bottom: 5%;
      padding-right: 5px;
}

main section .art5{
      float: left;
      margin-right: 14%;
      padding-left: 8px;
}

main section .art6{
      padding-right: 5px;
}

main section:nth-child(3){
      position: relative;
      margin: 0;
      padding-top: 15px;
      padding-left: 15px;
}

main section .art7{
      float: left;
      padding-top: 15px;
      margin-right: 14%;
      margin-bottom: 5%;
      padding-left: 8px;
}

main section .art8{
      padding-top: 15px;
      margin-bottom: 5%;
      padding-right: 5px;
}

main section .art9{
      float: left;
      margin-right: 14%;
      padding-left: 8px;
}

main section .art10{
      padding-right: 5px;
}

h2{
      font-family: Georgia;
      color: darkred;
      font-size: 18px;
      letter-spacing: 0.3em;
      padding-top: 35px;
}

article{
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size:18px;
}