.col-md-12, .col-lg-12{
	background-color: green;
	height: 45px;
}

.col-md-2, .col-lg-3{
	background-color: red;
	height: 540px;
}

.col-md-10, .col-lg-9{
	height: 540px;
}

.col-md-10 > .row:nth-child(1){
	color: black;
	background-color: fuchsia;
	height: 80px;
}

.col-md-10 > .row:nth-child(2){
	color: black;
	background-color: #ffe4e1;
	height: 140px;
}

.col-md-10 > .row:nth-child(3){
	border-top: 1px solid black;
	color: black;
	background-color: #ffe4e1;
	height: 140px;
}

.col-md-10 > .row:nth-child(4){
	color: black;
	background-color: blue;
	height: 100px;
}

.col-md-10 > .row:nth-child(5){
	color: black;
	background-color: blue;
	height: 100px;
}

.row > .col-2, .col-4{
	border: 1px solid black;
}

.row:nth-child(3) > .col-md-12, .col-lg-12{
	background-color: green;
	height: 40px;
}