main{
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 500px;
	background-color: #ffa07a;
}

p{
	margin: 0;
	font-family: sans-serif;
	font-size: 300%;
	text-align: center;
}

p#sup-izq{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background-color: #fa8072;
}

p#inf-der{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background-color: #b22222;
}

p#inf-izq{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background-color: #dc143c;
}

p#sup-der{
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background-color: #cd5c5c;
}