body {
      margin: 0 6px;
      background-color: #f0fff0;
      font-family: sans-serif;
}

h1 {
      margin: 0;
}

main {
      display: block;
      overflow: auto;
      background-color: #86d0a3;
}

main section:nth-child(1) {
      float: left;
      width: 24%;
      height: 540px;
      border: #20b2aa 5px solid;
      border-top: none;
      background-color: #dcdcdc;
}

main section:nth-child(2) {
      float: left;
      width: 24%;
      height: 540px;
      border: #20b2aa 5px solid;
      border-top: none;
      background-color: #dcdcdc;
}

main section:nth-child(3) {
      float: left;
      width: 24%;
      height: 540px;
      border: #20b2aa 5px solid;
      border-top: none;
      background-color: #dcdcdc;
}

main section:nth-child(4) {
      float: left;
      width: 25%;
      height: 540px;
      border: #20b2aa 5px solid;
      border-top: none;
      background-color: #dcdcdc;
}

h2 {
      margin: 0;
      background-color: #20b2aa;
}

article {
      float: left;
      width: 240px;
      border: #008080 5px solid;
      border-top: none;
      margin: 10px;
      background-color: #20b2aa;
}
h3 {
      margin: 0;
      padding-left: 5px;
      background-color: #008080;
      color: #ffffff;
      font-size: 24px;
}
p {
      margin: 5px;
}

footer {
      clear: both;
}

footer p {
      margin: 10px 0;
      font-size: 12px;
      text-align: center;
}