.row:nth-child(1){
	background-color: green;
	height: 40px;
}

.col-sm-2{
	background-color: red;
	height: 550px;
}

.col-sm-10 > .row:nth-child(1){
	background-color: fuchsia;
	height: 80px;
}

.col-sm-10 > .row:nth-child(2){
	background-color:  #FFE4E1;
	height: 150px;
}

.col-sm{
	border: 1px solid black;
}

.col-sm-10 > .row:nth-child(3), .row:nth-child(4), .row:nth-child(5), .row:nth-child(6){
	height: 80px;
}

.row > .col-sm-4{
	background-color: blue;
	border: 1px solid black;
}

.row:nth-child(3){
	background-color: green;
	height: 35px;
}