.row:nth-child(1){
	background-color: green;
	height: 45px;
}

.row:nth-child(2){
	background-color: fuchsia;
	height: 45px;
}

.row:nth-child(3){
	background-color: #ffe4e1;
	height: 75px;
}

.row > .col-6{
	border: 1px solid black;
}

.row:nth-child(4), .row:nth-child(5), .row:nth-child(6), .row:nth-child(7), .row:nth-child(8){
	background-color: blue;
	height: 49px;
}

.row:last-child{
	background-color: green;
	height: 44px;
}