body {
      margin: 0 20px;
      background-color: #f0fff0;
      font-family: sans-serif;
}

h1 {
      margin: 0;
}

main {
      position: absolute;
      top: 40px;
      left: 0;
      width: 1300px;
      height: 740px;
      background-color: #86d0a3;
}

main section:nth-child(1) {
      width: 730px;
      height: 320px;
      border: #20b2aa 5px solid;
      margin: 10px;
      border-top: none;
      background-color: #dcdcdc;
      position: absolute;
      top: 20%;
      left: 88%;
}

main section:nth-child(2) {
      width: 950px;
      height: 320px;
      border: #20b2aa 5px solid;
      margin: 10px;
      border-top: none;
      background-color: #dcdcdc;
      position: absolute;
      top: 74%;
      left: 71%;
}

main section:nth-child(3) {
      width: 500px;
      height: 400px;
      border: #20b2aa 5px solid;
      margin: 10px;
      border-top: none;
      background-color: #dcdcdc;
      position: absolute;
      top: 55%;
      left: 17%;
}

h2 {
      margin: 0;
      background-color: #20b2aa;
}

article {
      width: 240px;
      border: #008080 5px solid;
      border-top: none;
      margin: 10px;
      background-color: #20b2aa;
}
h3 {
      margin: 0;
      padding-left: 5px;
      background-color: #008080;
      color: #ffffff;
      font-size: 24px;
}
p {
      margin: 5px;
}

footer {
      clear: both;
}

footer p {
      margin: 10px 0;
      font-size: 12px;
      text-align: center;
}


